.search-bar{
    display: block;
    margin: 35px auto 0;
    width: 40%;
}

.search-bar__input{
    width: 100%;
    margin-top: 25px;
    background: unset;
    border: 0;
    border-bottom: 1px solid #c9c9c9;
    font-size: 1.5rem;
    outline: 0;
    color: white;
    text-align: center;
}

.search-bar__input::placeholder{
    color: #c9c9c9;
}