.weather-header{
    margin-bottom: 20px;
}

.weather-header__img{
    width: 40px;
    align-self: auto;
    display: inline-block;
    cursor: pointer;
}

.rotate{
    transform: rotateZ(45deg);
}

.weather-header__details{
    display: inline-block;
    margin-left: 10px;
}

.weather-header__details__city{
    font-size: 2.5rem;
}

.weather-header__details__last-updated{
    font-size: 1.5rem;
    color: #c9c9c9;
}


