.currentDayWeather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.currentDayWeather__main-temp{
    font-size: 9rem;
}

.currentDayWeather__details {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100px;
}

.currentDayWeather__details__item{
    font-size: 2rem;
}

.currentDayWeather__visual{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.currentDayWeather__visual__icon{
    height: 70%;
}

.currentDayWeather__visual__condition{
    font-size: 2rem;
}